{{set . "title" "Chat room"}}
{{template "header.html" .}}


<div class="container-fluid">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- <div class="row">
            <div class="col-xs-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <p>Chat room</p>
                        <h3><strong>{{.chatroom.RoomModel.Name}}</strong></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-content pull-right" >
                        <a href="/" id="leave" >Leave the chat room</a></h2>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox chat-view">
                    <div class="ibox-title">
                        <small class="pull-right text-muted"><a href="/" id="leave">Leave the chat room</a></small> Chat
                        room <strong>{{.chatroom.RoomModel.Name}}</strong>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-10 ">
                                <div id="thread" class="chat-discussion">
                                    <script type="text/html" id="message_tmpl">

                                        {{raw "<%"}} if(event.Type == 'MESSAGE') { %>
                                        <div class="chat-message  <%= event.Device == '{{.device}}' ? 'left' : 'right' %>">
                                            <div class="message">
                                                <img class="message-avatar"
                                                     src="<%= event.Device == '{{.device}}' ? 'https://bootdey.com/img/Content/avatar/avatar1.png' : 'https://bootdey.com/img/Content/avatar/avatar6.png' %>" alt="">
                                                <h4 class="message-author">{{raw "<%"}}= event.Device == '{{.device}}' ?
                                                    'Me' : event.Device %></h4>
                                                <span class="message-content">
                                                        {{raw "<%"}}= event.Message %>
                                                    </span>
                                            </div>
                                        </div>
                                        {{raw "<%"}} } %>
                                        {{raw "<%"}} if(event.Type != 'MESSAGE') { %>
                                        <div class="chat-message  right">
                                            <div class="message">
                                                    <span class=" text-muted">
                                                        Device: {{raw "<%"}}= event.Message %>
                                                    </span>
                                            </div>
                                        </div>
                                        {{raw "<%"}} } %>

                                    </script>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="chat-users">
                                    <div class="users-list">
                                        <div class="chat-user">
                                            <a href={{.chatroom.RoomModel.Address}} target="_blank">
                                                {{.chatroom.RoomModel.Address}}</a>
                                            <div>

                                                <img src={{.chatroom.RoomModel.QrCodeUrl}} class="qr-code"
                                                     alt="qr"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="chat-message-form">
                                    <div class="form-group">
                                        <div id="newMessage">
                                            <input class="form-control message-input" type="text" id="message"
                                                   autocomplete="off" autofocus>
                                            <input type="submit" value="send" class="btn btn-primary" id="send">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    // Create a socket
    var socket = new WebSocket('{{.wsProtocol}}://' + window.location.host + '/ws/room?roomName={{.chatroom.RoomModel.Name}}&device={{.device}}')

    // Display a message
    var display = function (event) {
        $('#thread').append(tmpl('message_tmpl', {event: event}));
        $('#thread').scrollTo('max')
    }

    // Message received on the socket
    socket.onmessage = function (event) {
        display(JSON.parse(event.data))
    }

    $('#send').click(function (e) {
        const inputVal = $('#message').val()
        if (!inputVal  || /^\s*$/.test(inputVal)){
            return
        }

        var message = {
            Type: 'MESSAGE',
            Device: {{.device}},
            Timestamp: null,
            Message: inputVal
        }

        $('#message').val('')
        socket.send(JSON.stringify(message))
    });
    $('#leave').click(function (e) {

        var message = {
            Type: 'LEAVE',
            Device: {{.device}},
            Timestamp: null,
            Message: `${$('#message').val()}has left the room`
        }
        socket.send(JSON.stringify(message))
    });

    $('#message').keypress(function (e) {
        if (e.charCode == 13 || e.keyCode == 13) {
            $('#send').click()
            e.preventDefault()
        }
    })

</script>
